{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit-no" >
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %} " >
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/main.css' %} " >
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Counsellor | Counsellia</title>
		{% endif %}
	</head>
	<body>
		<header class="site-header">
			<nav class="border-bottom-0 border-secondary shadow navbar navbar-expand-md navbar-dark bg-success fixed-top">
				<div class="container">
					<a class="navbar-brand mr-4" href="">Counsellia</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						{% if user.is_authenticated is True %}
							<div class="navbar-nav mr-auto">
								<a class="nav-item nav-link" href="">Schedule</a>
								<a class="nav-item nav-link" href="{% url 'counsellor-counsellee-list' %}">Counsellees</a>
								<li class="nav-item dropdown">
									<a class="nav-link" href="#" id="appointmentDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Appointments
									</a>
									<div class="dropdown-menu" aria-labelledby="appointmentDropdownMenuLink">
										<a class="dropdown-item" href="#">Requests</a>
										<a class="dropdown-item" href="#">Held</a>
										<a class="dropdown-item" href="#">Archived</a>

									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link" href="#" id="reportDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Reports
									</a>
									<div class="dropdown-menu" aria-labelledby="reportDropdownMenuLink">
										<a class="dropdown-item" href="#">Past</a>
										<a class="dropdown-item" href="">Archived</a>
									</div>
								</li>
								
							</div>
						{% elif user.is_authenticated is False %}
							<div class="navbar-nav mr-auto">
							</div>
						{% endif %}
						<div class="navbar-nav">
							<!---Navbar Right Side--->
							{% if user.is_authenticated is True %}
								<a class="nav-item nav-link" href="">Chat</a>
								<a class="nav-item nav-link" href="{% url 'counsellor-profile' %}">Profile</a>
								<a class="nav-item nav-link" href="{% url 'counsellor-logout' %}">Logout</a>
							{% elif user.is_authenticated is False %}
								<a class="nav-item nav-link" href="{% url 'index-page' %}">go back</a>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main role="main" class="container">
			{% block maincontent %}
			{% endblock maincontent %}
			
		</main>
		<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-slim.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/holder.min.js' %}"></script>
	</body>
</html>