{% extends 'counsellia/counsellor_subbase.html' %}
{% block subcontent %}
	<h1>Connected Counsellees</h1>
	<h6 class="text-muted">a list of people who have seeked your help</h6>
	<hr>
	<p class="mb-3"></p>
	{% for counsellee in counsellees %}
		{% if counsellee.active is True %}
			{% if counsellee in user.counsellor.counsellees.all %}
				<article class="shadow-sm media content-section">
					<img class= "rounded-circle account-img" src="{{ counsellee.image.url }}">
					<div class="media-body">
						<h2 class="mt-2"><a class="article-title" href="{% url 'selected-counsellee-profile' counsellee.id %}">{{ counsellee.user.first_name }} {{ counsellee.user.last_name }}</a></h2>
						{% if counsellee.qualification %}
							<h6>{{ counsellee.qualification }}</h6>
						{% else %}
							<h6></h6> <!-- empty space -->
						{% endif %}
						{% if counsellee.bio.len < 100 %}
							<p class ="article-content">{{ counsellee.bio }}</p>
						{% else %}
							<p class="article-content">{{ counsellee.bio }}...</p>
						{% endif %}
						<!-- <a class= "shadow-sm btn btn-outline-success btn-sm" href="">Message</a> -->
						<a class= "shadow-sm btn btn-outline-success btn-sm" href="{% url 'counsellor-appointment-create' counsellee.id %}">Book Appointment</a>
						<a class= "shadow-sm btn btn-success btn-sm" href="{% url 'analyze-twitter' %}">Analyze</a>
					</div>
				</article>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif%}
		{% endfor %}
		{% if page_obj.has_next %}
			<a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}
{% endblock %}