{% extends 'counsellia/counsellee_subbase.html' %}
{% block subcontent %}
	<h1>Available Counsellors</h1>
	<h6 class="text-muted pb-3">a curated list of counsellors based on your needs</h6>
	<a class= "shadow-sm btn btn-info btn-sm px-2 mr-2 disabled" href="{% url 'available-counsellors' %}" >Available</a>
	<a class= "shadow-sm btn btn-outline-info btn-sm px-2 mr-2" href="{% url 'contacted-counsellors' %}">Contacted</a>
	<hr>
	<p class="mb-3"></p>
	{% for counsellor in counsellors %}
		{% if counsellor.available is True %}
			<article class="shadow-sm media content-section">
				<img class= "mt-2 rounded-circle account-img" src="{{ counsellor.image.url }}">
				<div class="mt-1 media-body">
					<h2 class="mt-2"><a class="article-title" href="{% url 'selected-counsellor-profile' counsellor.id %}">{{ counsellor.user.first_name }} {{ counsellor.user.last_name }}</a></h2>
					{% if counsellor.qualification %}
						<h6>{{ counsellor.qualification }}</h6>
					{% else %}
						<h6></h6> <!-- empty space -->
					{% endif %}
					{% if counsellor.bio.len < 100 %}
						<p class ="article-content">{{ counsellor.bio }}</p>
					{% else %}
						<p class="article-content">{{ counsellor.bio }}...</p>
					{% endif %}
					<!-- <a class= "shadow-sm btn btn-outline-info btn-sm" href="">Message</a> -->
					<a class= "shadow-sm btn btn-info btn-sm" href="{% url 'counsellee-appointment-create' counsellor.id %}">Request Appointment</a>
				</div>
			</article>
		{% endif %}
	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif%}
		{% endfor %}
		{% if page_obj.has_next %}
			<a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}
{% endblock %}